* {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
}


.student {
  position: absolute;
  left: 90px;
  top: 130px;
  z-index: -1;
}

table {
  text-align: center;
  width: 600px;
  box-shadow: -1px 12px 12px -6px rgba(0,0,0.5);
  margin-top: 250px;
}

table, td, th {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
  cursor: pointer;
}

td {
  font-size: 18px
}

th {
  background-color: blue;
  color: white;
}

tr:nth-child(odd){
  background-color: lightblue;
}

tr:nth-child(odd):hover{
  background-color: dodgerblue;
  color: white;
}

tr:nth-child(even):hover{
  background-color: dodgerblue;
  color: white;
}
